<a href="https://colab.research.google.com/github/IlleonaMiller/BTE320/blob/main/InClassAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 09 - 02

In [ ]:
# Enter _
sales = float(input("Enter Sales ($): "))
tax = float(input("Enter Tax Rate (%): "))

# Sales
print(f"Sales: ${sales}")

# Cost of Goods Sold
cog = 0.4
cog_sold = sales * cog
print(f"Cost of Goods Sold: ${cog_sold}")

# Gross Proft
gross_profit = sales - (sales * cog)
print(f"Gross Profit: ${gross_profit}")

# Taxes
Tax = gross_profit * (tax / 100)
print(f"Taxes: ${Tax}")

# Net Profit
net_profit = gross_profit - Tax
print(f"Net Profit: ${net_profit}")

Enter Sales ($): 12000
Enter Tax Rate (%): 30
Sales: $12000.0
Cost of Goods Sold: $4800.0
Gross Profit: $7200.0
Taxes: $2160.0
Net Profit: $5040.0

Assignment 09 - 04

In [ ]:
# Demand
Demand = input("Enter Demand (Units/Year): ")
Demand = int(Demand)

# Reorder Costs
Reorder = input("Enter Reorder Cost ($/Unit): ")
Reorder = float(Reorder)

# Holding Costs
Holding = input("Enter Holding Cost ($/Unit/Year): ")
Holding = float(Holding)

# Calculating EOC
EOQ=((2*Demand*Reorder)/Holding)**0.5

# Display EOC
print(f"Economic Order Quantity: {EOQ} Units")

Enter Demand (Units/Year): 100
Enter Reorder Cost ($/Unit): 1.5
Enter Holding Cost ($/Unit/Year): 3
Economic Order Quantity: 10.0 Units

Assignment 09 -11

In [ ]:
num1 = float(input("First Number = "))
num2 = float(input("Second Number = "))
op = input("Choose Numerical Operator (+,-,*,/,//,**,%)): ")

if op == "+":
  print(f"{num1} + {num2} = {num1+num2}")
elif op == "-":
  print(f"{num1} - {num2} = {num1-num2}")
elif op == "*":
  print(f"{num1} * {num2} = {num1*num2}")
elif op == "/":
  print(f"{num1} / {num2} = {num1/num2}")
elif op == "//":
  print(f"{num1} // {num2} = {num1//num2}")
elif op == "**":
  print(f"{num1} ** {num2} = {num1**num2}")
elif op == "%":
  print(f"{num1} mod {num2} = {num1%num2}")
else:
  print("Invalid Operator")

First Number = 8
Second Number = 5
Choose Numerical Operator (+,-,*,/,//,**,%)): #
Invalid Operator

Assignment 09 - 16

In [ ]:
print("# of Hours\tFee")
print("--------------------")
for hours in range(1,9,1):
  print(f"{hours}\t\t{5+hours*2.5}")

# of Hours	Fee
--------------------
1		7.5
2		10.0
3		12.5
4		15.0
5		17.5
6		20.0
7		22.5
8		25.0

In [ ]:
# Bonus Part
print("# of Hours\tFee")
print("--------------------")
for hours in range(1,9,1):
  fee = 5+hours*2.5
  if fee<10:
    fee=10.0
  elif fee>20:
    fee=20.0
  else:
    fee=fee
  print(f"{hours}\t\t{fee}")

# of Hours	Fee
--------------------
1		10.0
2		10.0
3		12.5
4		15.0
5		17.5
6		20.0
7		20.0
8		20.0

Assignment 09 - 18

In [ ]:
for ad in range(0,201,25):
  revenue = 10*(20+2*ad**0.5) - 200 - ad
  print(ad, round(revenue))

0 0
25 75
50 91
75 98
100 100
125 99
150 95
175 90
200 83

Assignment 09 - 25

In [ ]:
numbers = []
num = float(input("Enter a number:"))

while num != 0:
  numbers.append(num)
  num = float(input("Enter another number:"))

numbers.sort(reverse=True)
print(numbers)

Enter a number:5
Enter another number:4
Enter another number:6
Enter another number:2
Enter another number:0
[6.0, 5.0, 4.0, 2.0]

Assignment 09 - 30

In [ ]:
import random

play = input("Do you want to play? (Yes/No): ")
while play == "Yes":
  # Rock, Paper, Scissors game
  computer = random.choice(["Rock", "Paper", "Scissors"])
  user = input("User Choice (Rock, Paper, Scissors): ").strip().lower()
  print("Computer:", computer)
  print("User:", user)
  if user == computer:
    print("Draw")
  elif (
      (user == "Rock" and computer == "Scissors") or
      (user == "Paper" and computer == "Rock") or
      (user == "Scissors" and computer == "Paper")
  ):
    print("User Wins")
  else:
    print("Computer Wins")
  play = input("Do you want to play another game? (Yes/No): ").strip().lower()

Computer: Paper
User: rock
Computer Wins

In [ ]:
while True:
  play = input("Do you want to play? (Yes/No): ")
  if play == 'No': # Or play is != to 'Yes'
    break
  # Rock, Paper, Scicssors game

Do you want to play? (Yes/No): yes
Do you want to play? (Yes/No): no
Do you want to play? (Yes/No): no
Do you want to play? (Yes/No): No

Assignment 10 - 02

In [ ]:
products = {
    'P-01': 9.95,
    'P-02': 10.50
}
id = input('Enter Product ID: ')

if id in products:
  print(f'Product ID: {id}, Price: ${products[id]}')
else:
  print(f'Product ID {id} Not Found')

Enter Product ID: 0
Product ID 0 Not Found

Assignment 10 - 02

In [ ]:
names = {}

for i in range(5):
  name = input("Enter a Name: ")

  if name in names:
    names[name] = names[name] + 1 # Another way of saying names[name] +=1
  else:
    names[name] = 1

  print(names)

Enter a Name: Bob
{'Bob': 1}
Enter a Name: Alice
{'Bob': 1, 'Alice': 1}
Enter a Name: Bob
{'Bob': 2, 'Alice': 1}
Enter a Name: Eve
{'Bob': 2, 'Alice': 1, 'Eve': 1}
Enter a Name: Alice
{'Bob': 2, 'Alice': 2, 'Eve': 1}

Assignment 10 / 21

In [ ]:
def calcFee(h):
  fee = 5 + 2.5 * h
  if fee < 10:
    return 10.0
  elif fee > 20:
    return 20.0
  else:
    return fee

fee = calcFee(10)
print(fee)

20.0

In [ ]:
# Bonus

def calcFee(h):
  fee = 5 + 2.5 * h
  if fee < 10:
    return 10.0
  elif fee > 20:
    return 20.0
  else:
    return fee

def main():
  hours = int(input('Enter Numbe of Hours: '))
  fee = calcFee(hours)
  print(fee)

if __name__ == "__main__":
  main()

Enter Numbe of Hours: 3
12.5